{% extends 'base.html' %}


{% block content %}

    <h1>Welcome home bruh!</h1>
    <p><a href="{% url 'place_order' %}">Click here</a> to place orders.</p>
    {% for r in restaurants %}
        <h2>{{r.name}}</h2>
        <ul>
            <h3>Rating</h3>
            {% for rating in r.ratings.all %}
                <p>{{rating}}</p>
            {% endfor %}
        </ul>
        <ul>
            <h3>Sales</h3>
            {% for sale in r.sales.all %}
                <p>{{sale.income}}</p>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}